
li{
    list-style: none;
    display: block;
}
.info_row
{

}
table tr td{
    color:rgb(139, 65, 65);
    border:2px 2px black;
    width: 100px;
    background-color: aqua;
}
.profile{
    width: 100px;
    height: 100px;
    float: right;
    margin-right: 10px;
    border-radius: 50px;
    position:relative;  
}
.profile::before{
    content: "";
    background-color: #eee ;
    width: 100%;
    height: 100%;
    display: block;
    position:absolute;
    border: 1px dashed #aaa;
    border-radius: 10px;

}
.profile_img{
 content: ""; 
}
.outer{
    height: 25vh;
    width: 75vw;
    align-items: center;
    
}
.content{
    height: 50vh;
    width: 100vw;
}
.footer{
    height: 25vh;
    width: 100vw;
}
.i{
    display: none;
    position: absolute;
    z-index: 1;
}
.o{
    display: inline;
    
}
.o1{
    display: inline;
}

.o:hover .i{
    
    display: block;
    background-color: azure;
}
.o1:hover .i{
    
    display: block;
    background-color: azure;
}

ul{
    
    display: inline-block;
    padding-inline-start: 10px;
}