*{
    box-sizing: border-box;
}
body{
   
    /* overflow: hidden; */
   
    margin: 0px;
    padding: 0px;
}
#h{
   
    font-size: 15px;
    padding: 0;
    color: rgb(255, 255, 255);
    text-shadow: 2px 3px rgb(30, 30, 31);
    

}
 /*================
            image
             ============*/
.profile{
    width: 80px;
    height: 80px;
    float: left;
    margin-right: 10px;
    border-radius: 50px;
    position:relative;  
    box-shadow: inset 2px 2px 2px 2px rgb(110, 68, 48);
}
.rect
{
    border-radius:0;
}
.clipo{
    clip-path: circle(10% at 50% 50%);
    position:relative;
    
    width: 50vw;
    height: 50vw;
}
            /*================
            containers
             ============*/
.c1{
    height: 80px;
    width: 100vw;
    margin-top: -90px;;
    position:absolute;
    background-image:linear-gradient(to right, rgb(16, 152, 205),transparent);
    border: none;
    
}

nav a:link{
   text-decoration: none;
}
.c2{
    margin-top: 90px;
     width: 100vw; 
}
.c3{
    height: 50px;
    width: 100vw;
    bottom: 10px;  
    position:fixed;
    bottom:0px; 
    background-image:linear-gradient(to right,rgb(100, 166, 234),rgb(7, 166, 229));
    color:rgb(153, 174, 192)
}
/* .cm{
    background-color:#16da16;
    position:relative;
    width: 100vw;
    bottom: 10px;
    

    
} */
.go_left{
   
    width: 15vw;
    height: 75vh;
    float: left;
    border: 1px dashed darkcyan;
    
}
.go_left h1{
    color: #16da16;
    font-size: 2vw;
}
.go_right{
   
    width: 85vw;
    height: 75vh;
    float: right;
    bottom: 20px;
}
.cent{
   align-items: center;
   margin-left: 20vw;
  background-color:#16da16;
   width: 25vw;
   border-radius: 10px;
   font-size:1vw;
 
}
.post
{
    background-color:antiquewhite;
    position:relative;
    margin-top: 10px;
    padding: 10px;
    margin: 20px 0px;
    border-radius: 20px;
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    align-content: stretch;
    align-items: stretch;
}
.post h2
{
    color:brown;

}
.post .p_img
{
    width: 490px;
    height: 320px;
    border-radius: 30px;
    position:relative;  
    display:inline-block;
    box-shadow: inset 2px 2px 2px 2px rgb(110, 68, 48);
   
}

.post  .p_cont
{
    
    display: table-cell;
 
}
/* ========================
BUTTONS
======================= */
button.b{
    background-color:blue;
    border: 0;
    border-radius: 25%;
    height: 5vh;
    padding-top: 10%;
    box-shadow: inset 10px 10px 20px 10px rgb(110, 68, 48);
    color:rgb(184, 188, 192);
    padding-left: 10%;
    margin-left: 10%;

}


button.b:hover{

    box-shadow:5px 5px 40px 10px rgb(175, 23, 235);
    color: aliceblue;
}

.b1{
    position: relative;
    border-radius: 2px;
    box-shadow: -2px 2px 2px 2px #16da16;
    border: none;
    background-color: blueviolet;
    color: antiquewhite;
}
.n1{
    float: left;
    display: inline;
    margin: 0px;
    padding: 0px;
    font-size: 30px;

    width: 80vw;

}
nav{
    display: inline-block;
    
}
.nn{
    
    float: right;
    padding-top:0;
    padding-right: 0;
    margin: 15px;
    width: 10vw;
    top: -10px;
}



.responsive-iframe
{
    width: 100%;
    height: 100%;
    border: none;
}

/*================
            responsive
             ============*/
@media  only screen and (max-width:600px){
    .cent{
        align-items: center;
        margin-left: 0vw;
       background-color:aqua;
        width:100vw;
        border-radius: 10px;
        
      
     }
     label{
color:red;
font-size: 1rem;
     }
     dt{
        font-size: 1rem;
     }

}
